



{% extends "base.html" %}   {% comment %} view mi pošle data do tempaty habis html a habits html mi pošle data do base.html
akorát do "block content " na base html ,, vloží obsah  habits html vloží{% endcomment %}

{% comment %}{% endcomment %}
{% block title %}
    Seznam návyků
{% endblock %}


{% block content %}
    <div class="filter-form">
        <form method="post" action="/habit/filter/">
            {% csrf_token %}
            <label for="filter-category">Kategorie</label>
            <input type="text" id="filter-category" name="filter-category"><br>
            <label for="filter-name">Název</label>
            <input type="text" id="filter-name" name="filter-name"><br>{% comment %}br=break=odřádkování{% endcomment %}
            <label for="filter-obstacle">Překážky</label>
            <input type="text" id="filter-obstacle" name="filter-obstacle"><br>
            <label for="filter-reward">Odměny</label>
            <input type="text" id="filter-reward" name="filter-reward"><br>
            <input type="submit" id="id_submit" value="Filtr" class="btn btn-primary">
        </form>
    </div>
    <h1>Návyky</h1>
    <a href="{% url 'habit_create' %}" class="btn btn-primary">Přidat</a>{% comment %}tačítko přidat{% endcomment %}
    <ul>
        {% for habit in habits %} {% comment %}vykreslí mi ty dané návyky{% endcomment %}
            <li>
                <a href="{% url 'habit' habit.id %}">{{ habit }}</a>{% comment %}potřebuju odkaz, kt bude odkazovat na habit id jine id{% endcomment %}
                <a href="{% url 'habit_update' habit.id %}">🛠️</a>
                <a href="{% url 'habit_delete' habit.id %}">🗑️</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


