



{% extends "base.html" %}

{% block title %}
    {{ habit.reward }}
{% endblock %}


{% block content %}
    <h1 class="display-4">{{ reward.name }}</h1>

    <div class="reward-images">
        {% for image in reward.images.all %}
            <span class="reward-image">
                <img src="{{ image.image.url }}"
                     alt="{{ image.description }}"
                     width="300px">
            </span>
        {% endfor %}
    </div>
    <hr class="my-4">

    <p><strong>Popis:</strong></p>
    <p class="text-justify">{{ reward.description }}</p>
    <p class="mt-3"><small class="text-muted>">Přidáno dne: {{ reward.created_at|date:"j. n. Y G:i"}}</small></p>
    <p><small class="text-muted>">Poslední úprava dne: {{ reward.updated_at|date:"j. n. Y G:i" }}</small></p>
    <hr>
    {% if perms.viewer.change_reward %}
        <a href="{% url 'reward_update' reward.id %}" class="btn btn-primary">Aktualizovat</a>
    {% endif %}
    {% if perms.viewer.delete_reward %}
        <a href="{% url 'reward_delete' reward.id %}" class="btn btn-danger">Smazat</a>
    {% endif %}
{% endblock %}